header{
    background-color: #343a40;
    padding-top: 3%;
    padding-bottom: 1%;
}

.nameCompany{
    font-size: 191%;
    font-weight: 700;
}

header p{
    color: #C62C45;
    margin-left: 3%;

}

.aboutUs{
    background-image: url("../img/header-bg.jpg");
    padding-top: 12%;
    padding-bottom: 17%;
}

div.text-center>h1{
    font-weight: 700;
    font-size: 7em;
    color: #fff;
}

.aboutUsText{
    color: #fff;
    font-size: 2em;
    font-style: italic;
    margin-top: 4%;
    margin-left: 9%;
    margin-right: 9%;
}

.aboutUsBtnBlok{
    margin-top: 9%;
}

.aboutUsBtnBlok button:first-child{
    background-color: #28a745;
}

.aboutUsBtnBlok button:last-child{
    background-color: #007bff;
}

.aboutUsBtn{
    margin-left: 2%;
    font-size: 1.9em;
    padding: 1.2% 3%;
    color: #fff;
    border: none;
}

.products
{
    background-color: #f8f9fa;
    padding: 9% 3%;
}

.products span{
    font-size: 2.3em;
    font-weight: 600;
    margin-top: 3%;
}

.products button{
    background-color: #28a745;
    border: none;
    color: #fff;
    margin-left: 41%;
    margin-right: 41%;
    margin-top: 2%;
    font-size: 2em;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.productsText h3{
    font-size: 3.8em;
}

.productsText p{
    font-size: 1.8em;
    margin-top: 4%;
}


.lapTop, .mouse, .tablet, .camera, .keyboard, .router{
    padding-bottom: 4%;
    background-color: #fff;
}

.lapTop{
    margin-top: 9%;
}
.mouse, .camera, .keyboard{
    margin-top: 10%; 
}
.tablet, .router{
    margin-top: 11%;
}

.learnMore{
    background-color: #343a40;
    padding: 9%;
}

.learnMore h2{
    color: #fff;
    font-size: 6.7em;
    font-weight: 300;
}

.learnMore p{
    color: #fff;
    font-size: 2.4em;
}

.learnMore button{
    background-color: #007bff;
    font-size: 1.9em;
    padding: 1.2% 3%;
    color: #fff;
    border: none;
    margin-top: 4%;
}

.connectUs img{
    width: 94%;
    margin-top: 10%;
}

.connectText{
    margin-left: 3%;
    margin-top: 3%;
}

.connectText>h4{
    font-size: 3.3em;
}

.connectText>p{
    margin-top: 1.6%;
    font-size: 1.88em;
}

.connectText>ul{
    list-style: none;
    margin-top: 4%;
    font-size: 2em;
    letter-spacing: -1.8px;
}

.connectText li:before{
    content: '✓';
}

footer{
    background-color: #343a40;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 12%;
    padding-bottom: 14.5%;

        margin-top: 9.9%;
}

.subscribeText h5{
    color:  #fff;
    font-size: 2.35em;
}

.subscribeText p{
    font-size: 1.9em;
    margin-top: 2%;
}

.q input{
    padding-left: 2.2%;
    font-size: 1.9em;
    padding-top: 1.4%;
    padding-bottom: 1.4%;
    margin-top: 2%;
}

.q button
{
    background-color: #007bff;
    font-size: 1.9em;
    padding: 1.2% 3%;
    color: #fff;
    border: none;
    margin-top: 2%;
}

footer p {
    color:  #fff;
}

.FeL{
    margin-top: 10%;
    font-size: 1.9em;
}


@media (min-width: 769px){
    
    header{
    background-color: #343a40;
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: 9%;
}

.nameCompany {
    font-size: 135%;
    font-weight: 700;
}

.aboutUs{
    padding-top: 8%;
    padding-bottom: 12.3%;
}

div.text-center>h1{
    font-size: 4.8em;
}

.aboutUsText {
    margin-top: 5%;
    margin-left: 17%;
    margin-right: 17%;
    font-size: 1.4em;
}

.aboutUsBtnBlok {
    margin-top: 7%;
}

.aboutUsBtn {
    font-size: 1.1em;
}

.item{
    display: flex;
    padding-left: 12%;
    padding-right: 12%;
}

.lapTop{
    width: 40%;
}



}